.sidebar {
  background: rgba(0, 0, 0, .1);
  height: calc(100vh - 53px);
  padding: 0 20px;
  margin-right: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}